
@typeparam TValue

@using NPOI.XSSF.UserModel
@using System.Drawing 

<button @onclick="HandleExport" style="@CssStyle" type="button" class="@CssClass" title="@Title">@ButtonText</button>

@code{
    [Parameter] public string CssStyle { get; set; }

    [Parameter] public string CssClass { get; set; } = "btn btn-outline-success";

    [Parameter] public string Title { get; set; } = "Export To Excel";

    [Parameter] public object ButtonText { get; set; }

    [Parameter] public string ReportName { get; set; } = $"{DateTime.UtcNow:MMddyyyyhhmmss}";

    [Parameter] public HeaderStyle HeaderStyle { get; set; }

    [Parameter] public BodyStyle BodyStyle { get; set; }

    [Parameter] public Func<IEnumerable<TValue>> RequestDelegate { get; set; }

    [Parameter] public UploadFileEventHandler DownloadToBrowser { get; set; }

    [Inject] IJSRuntime JsRuntime { get; set; }

    [Inject] IExportToExcel<TValue> ExcelService { get; set; }

    ExcelDocumentRequest<TValue> ExcelRequest { get; set; }

    string ExportUriFunctionName => "ExportFileToUri";
    string ExportLocalFunctionName => "ExportFile";

    async void HandleExport()
    {
        if (RequestDelegate != null)
            await Export();
    }

    async Task Export()
    {
        try
        {            
            var request = new ExcelDocumentRequest<TValue>(ReportName, RequestDelegate?.Invoke(), HeaderStyle, BodyStyle);

            var response = await ExcelService.ExportToExcel(request);

            await Download(response);

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    async Task Download(ExcelDocumentResponse response)
    {
        try
        {
            var r = await DownloadToBrowser?.Invoke(response);

            if (r is UploadFileResponse f)
                await JsRuntime.InvokeVoidAsync(ExportUriFunctionName, f.FileName, f.FileUri);

            else if (r is UploadFileLocalResponse l)
                await JsRuntime.InvokeVoidAsync(ExportLocalFunctionName, l.FileName, l.FileContent, l.ContentType);

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}