@code {
    [Parameter] public EventCallback<StyleColorSelectedEventArgs> OnColorSelected { get; set; }

    void HandleChange(ChangeEventArgs args)
    {
        if (!string.IsNullOrEmpty((string)args.Value))
        {
            var selectedIndex = short.Parse(args.Value.ToString());
            var selectedColor = ExcelColors.ColorCollection.FirstOrDefault(a => a.Key.Equals(selectedIndex));

            if (OnColorSelected.HasDelegate)
                if (selectedColor.Value != null)
                    OnColorSelected.InvokeAsync(new StyleColorSelectedEventArgs(selectedColor.Value));
        }
    }
}

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Background Color</span>
    </div>
    <select class="form-control" @onchange="HandleChange">
        <option value="">Select Color</option>

        @foreach (var item in ExcelColors.ColorCollection)
        {
            <option style="background-color:@item.Value.RGBValue" value="@item.Key">@item.Value.Name</option>
        }
    </select>
</div>