
<div class="inputBox">    
    <select @onchange="HandleChange">
        <option value="">Select Alignment</option>
        <option value="@VerticalAlignment.Center">Center</option>
        <option value="@VerticalAlignment.Top">Top</option>
        <option value="@VerticalAlignment.Bottom">Bottom</option>
    </select>
    <span>Vertical Alignment</span>
</div>

@code {
    [Parameter] public EventCallback<VerticalAlignmentChangedEventArgs> OnSelected { get; set; }    

    void HandleChange(ChangeEventArgs args)
    {
        if (OnSelected.HasDelegate && args.Value != null)
            OnSelected.InvokeAsync(new VerticalAlignmentChangedEventArgs(Parse(args)));
    }

    static VerticalAlignment Parse(ChangeEventArgs args)
          => args.Value.ToString() == "Center" ? VerticalAlignment.Center :
          args.Value.ToString() == "Top" ? VerticalAlignment.Top :
          args.Value.ToString() == "Bottom" ? VerticalAlignment.Bottom :
          VerticalAlignment.None;
}